TrafficPolice.Core/Service References/ServiceReference2/TrafficPoliceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TrafficPoliceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9607/TrafficPoliceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9607/TrafficPoliceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9607/TrafficPoliceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrafficPoliceWcfHost.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrafficPoliceService_GetUserByIdAndPass_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdAndPass" />
  </wsdl:message>
  <wsdl:message name="ITrafficPoliceService_GetUserByIdAndPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdAndPassResponse" />
  </wsdl:message>
  <wsdl:message name="ITrafficPoliceService_GetDriverOwnerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDriverOwnerById" />
  </wsdl:message>
  <wsdl:message name="ITrafficPoliceService_GetDriverOwnerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriverOwnerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITrafficPoliceService_getRegByRegNum_InputMessage">
    <wsdl:part name="parameters" element="tns:getRegByRegNum" />
  </wsdl:message>
  <wsdl:message name="ITrafficPoliceService_getRegByRegNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRegByRegNumResponse" />
  </wsdl:message>
  <wsdl:message name="ITrafficPoliceService_addPenaltyToDriverOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:addPenaltyToDriverOwner" />
  </wsdl:message>
  <wsdl:message name="ITrafficPoliceService_addPenaltyToDriverOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPenaltyToDriverOwnerResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrafficPoliceService">
    <wsdl:operation name="GetUserByIdAndPass">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrafficPoliceService/GetUserByIdAndPass" message="tns:ITrafficPoliceService_GetUserByIdAndPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrafficPoliceService/GetUserByIdAndPassResponse" message="tns:ITrafficPoliceService_GetUserByIdAndPass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDriverOwnerById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrafficPoliceService/GetDriverOwnerById" message="tns:ITrafficPoliceService_GetDriverOwnerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrafficPoliceService/GetDriverOwnerByIdResponse" message="tns:ITrafficPoliceService_GetDriverOwnerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRegByRegNum">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrafficPoliceService/getRegByRegNum" message="tns:ITrafficPoliceService_getRegByRegNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrafficPoliceService/getRegByRegNumResponse" message="tns:ITrafficPoliceService_getRegByRegNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPenaltyToDriverOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrafficPoliceService/addPenaltyToDriverOwner" message="tns:ITrafficPoliceService_addPenaltyToDriverOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrafficPoliceService/addPenaltyToDriverOwnerResponse" message="tns:ITrafficPoliceService_addPenaltyToDriverOwner_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITrafficPoliceService" type="tns:ITrafficPoliceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserByIdAndPass">
      <soap:operation soapAction="http://tempuri.org/ITrafficPoliceService/GetUserByIdAndPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDriverOwnerById">
      <soap:operation soapAction="http://tempuri.org/ITrafficPoliceService/GetDriverOwnerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRegByRegNum">
      <soap:operation soapAction="http://tempuri.org/ITrafficPoliceService/getRegByRegNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPenaltyToDriverOwner">
      <soap:operation soapAction="http://tempuri.org/ITrafficPoliceService/addPenaltyToDriverOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrafficPoliceService">
    <wsdl:port name="BasicHttpBinding_ITrafficPoliceService" binding="tns:BasicHttpBinding_ITrafficPoliceService">
      <soap:address location="http://localhost:9607/TrafficPoliceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>