TrafficPolice.Core/Service References/ServiceReference2/TrafficPoliceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9607/TrafficPoliceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrafficPoliceWcfHost.Model" />
  <xs:element name="GetUserByIdAndPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdAndPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrafficPoliceWcfHost.Model" minOccurs="0" name="GetUserByIdAndPassResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverOwnerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverOwnerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrafficPoliceWcfHost.Model" minOccurs="0" name="GetDriverOwnerByIdResult" nillable="true" type="q2:DriverOwner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegByRegNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegByRegNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TrafficPoliceWcfHost.Model" minOccurs="0" name="getRegByRegNumResult" nillable="true" type="q3:Registration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPenaltyToDriverOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TrafficPoliceWcfHost.Model" minOccurs="0" name="pen" nillable="true" type="q4:Penalty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPenaltyToDriverOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPenaltyToDriverOwnerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>