TrafficPolice.Core/Service References/ServiceReference1/WCFRestMobile.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFRestMobile.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFRestMobile.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTrafficPoliceman" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="DriverOwner">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BirthPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Categories" nillable="true" type="tns:Categories" />
      <xs:element minOccurs="0" name="DriverOwnerId" type="xs:long" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenceExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenceIssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenceIssuedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Penalties" nillable="true" type="tns:ArrayOfPenalty" />
      <xs:element minOccurs="0" name="RemainingPts" type="xs:int" />
      <xs:element minOccurs="0" name="Residence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="tns:Sex" />
      <xs:element minOccurs="0" name="TelNum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriverOwner" nillable="true" type="tns:DriverOwner" />
  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element minOccurs="0" name="a1AcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="a1ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="a1Restrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aAcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="aExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="aRestrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="b1AcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="b1ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="b1Restrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bAcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="bExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="bRestrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="beAcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="beExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="beRestrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c1AcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="c1ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="c1Restrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c1eAcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="c1eExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="c1eRestrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cAcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cRestrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ceAcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ceExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ceRestrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="d1AcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="d1ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="d1Restrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="d1eAcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="d1eExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="d1eRestrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dAcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dRestrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deAcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="deExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="deRestrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mAcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="mExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="mRestrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tktAcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tktExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tktRestrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ttbAcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ttbExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ttbRestrictions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ttmAcquiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ttmExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ttmRestrictions" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categories" nillable="true" type="tns:Categories" />
  <xs:complexType name="ArrayOfPenalty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Penalty" nillable="true" type="tns:Penalty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPenalty" nillable="true" type="tns:ArrayOfPenalty" />
  <xs:complexType name="Penalty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disagreement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverOwnerId" type="xs:long" />
      <xs:element minOccurs="0" name="HappenedDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IssuedDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IssuerId" type="xs:long" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PenaltyId" type="xs:unsignedLong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Penalty" nillable="true" type="tns:Penalty" />
  <xs:simpleType name="Sex">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Man">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1052</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Woman">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1046</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="Sex" nillable="true" type="tns:Sex" />
  <xs:complexType name="Registration">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarCubage" type="xs:int" />
      <xs:element minOccurs="0" name="CarHp" type="xs:int" />
      <xs:element minOccurs="0" name="CarManufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarVin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CivilInsuranceEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CivilInsuranceStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CivilInsurer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DamageInsuranceEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DamageInsuranceStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DamageInsurer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverOwnerId" type="xs:long" />
      <xs:element minOccurs="0" name="FirstRegDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasCivilInsurance" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasDamageInsurance" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasVignette" type="xs:boolean" />
      <xs:element minOccurs="0" name="RecentRegDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RegNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VignetteValidUntil" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Registration" nillable="true" type="tns:Registration" />
</xs:schema>